<div class="main-content">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">build</i>
          <h4 class="card-title">Time Tables</h4>
        </div>
      </div>
      <div class="card-body ">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <form>
                  <div class="row">
                    <div class="col-md-6">
                      <mat-form-field class="example-full-width">
                        <input matInput placeholder="Search" type="text"
                        [(ngModel)]="searchText"
                        [ngModelOptions]="{standalone: true}">
                      </mat-form-field>
                    </div>
                    <div class="col-md-6">
                        <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                            <mat-icon (click)="changeState(null,false)"   matTooltip="View"
                            data-toggle="modal"
                            data-target="#myModal1">add</mat-icon>
                          </button>
                    </div>

                  </div>
                </form>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="">
                      <th>
                          Name
                      </th>
                      <th>
                         Train
                      </th>
                      <th>
                          Start
                      </th>
                      <th>
                        End
                      </th>
                      <th>
                          Start Time
                      </th>
                      <th>
                          End Time
                      </th>
                      <th>
                        Action
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let timeTable of timeTables | filter : searchText">
                        <td>
                          {{timeTable.name}}
                        </td>
                        <td>
                            <span>
                                {{timeTable.train.name}}
                              </span>
                            <!-- <mat-chip-list  *ngIf="timeTable.current_location != undefined && timeTable.current_location.coordinates.length != 0">
                                <mat-chip>Longitude: {{timeTable.current_location.coordinates[0]}}</mat-chip> &nbsp;
                                <mat-chip>Latitude : {{timeTable.current_location.coordinates[1]}}</mat-chip>
                                </mat-chip-list>
    <span *ngIf="timeTable.current_location == undefined || timeTable.current_location.coordinates.length == 0">
      Location not found
    </span> -->
                              
                        </td>
                        <td>
                      <span>
                        {{timeTable.start.name}}
                      </span>
                        </td>
                        <td>
                          <span>
                            {{timeTable.end.name}}
                          </span>
                        </td>
                        <td>
                            {{ timeTable.short_start_time}}
                          </td>
                        <td>
                            {{timeTable.short_end_time}}
                        </td>
                        <td>
                          <div class="row justify-content-start">

                            <i class="material-icons" (click)="deleteTimeTable(timeTable)">
                              delete
                            </i>

                            &nbsp;
                            <i class="material-icons"
                            matTooltip="View"
                            data-toggle="modal"
                            data-target="#myModal1"
                            (click)="changeState(timeTable._id,true)">
                              edit
                            </i>
                            &nbsp;
                            <i class="material-icons">
                              desktop_windows
                            </i>

                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div
  class="modal fade"
  id="myModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body modal-body">
          <div class="example-container">
            <form [formGroup]="timeTableForm">
                <mat-form-field>
                    <input matInput placeholder="Time Table Name"  formControlName="name">
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>Train</mat-label>
                      <mat-select formControlName="train">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let train of trains" [value]="train._id">{{train.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                <mat-form-field>
                    <mat-label>Start Location</mat-label>
                    <mat-select formControlName="start">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let location of locations" [value]="location._id">{{location.name}}</mat-option>
                    </mat-select>
                  </mat-form-field>
                  <mat-form-field>
                      <mat-label>End Location</mat-label>
                      <mat-select formControlName="end">
                        <mat-option>None</mat-option>
                        <mat-option *ngFor="let location of locations" [value]="location._id">{{location.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                    <label for="start_time" class="custom-label">Start Time &nbsp;</label>
                    <input id="start_time" formControlName="start_time" [owlDateTimeTrigger]="dt4" [owlDateTime]="dt4">
                    <owl-date-time [pickerType]="'timer'" #dt4></owl-date-time>
                    &nbsp;
                    <label for="start_time" class="custom-label">End Time &nbsp;</label>
                    <input id="start_time" formControlName="end_time" [owlDateTimeTrigger]="dt5" [owlDateTime]="dt5">
                    <owl-date-time [pickerType]="'timer'" #dt5></owl-date-time>
                   
                  <!-- <div
                  
                  class="error-msg"
                  *ngIf="
                    !timeTableForm.controls['location'].valid &&
                    timeTableForm.controls['location'].touched
                  "
                >
                  <small>Location is <strong>required</strong> </small>
                </div> -->
            
            <span>
                <!-- <div
                class="error-msg"
                *ngIf="
                  !timeTableForm.controls['locationName'].valid &&
                  timeTableForm.controls['locationName'].touched
                "
              >
                <small>Location Name is <strong>required</strong> </small>
              </div> -->
            </span>
              

            </form>
            </div>
         
              <button *ngIf="!isUpdate"
                mat-raised-button
                type="submit"
                class="btn btn-primary pull-right"
                [disabled]="!timeTableForm.valid"
                (click)="createTimeTable()"
              >
                Save
              </button>
              <button *ngIf="isUpdate"
                mat-raised-button
                type="submit"
                class="btn btn-primary pull-right"
                [disabled]="!timeTableForm.valid"
                (click)="updateTimeTable()"
              >
                Update
              </button>
          </div>
    </div>
  </div>
</div>