<div class="main-content">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">build</i>
          <h4 class="card-title">Trains</h4>
        </div>
      </div>
      <div class="card-body ">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                  <form>
                      <div class="row">
                        <div class="col-md-6">
                          <mat-form-field class="example-full-width">
                            <input matInput placeholder="Search" type="text"
                            type="text"
                        [(ngModel)]="searchText"
                        [ngModelOptions]="{standalone: true}">
                          </mat-form-field>
                        </div>
                        <div class="col-md-6">
                          <button mat-mini-fab aria-label="Example icon-button with a heart icon">
                              <mat-icon 
                              matTooltip="View"
                            data-toggle="modal"
                            data-target="#myModal1" 
                            (click)="changeState(null,false)">add</mat-icon>
                            </button>
                      </div>
    
                      </div>
                    </form>
                <!-- <form>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="row">
                       <div class="col-md-6">
                        <label> Enter Your File
                          <input type="file" size="60" (change)="onSelectFile($event)" >
                          </label> 
                       </div>
                       <div class="col-md-5"  *ngIf="selectedFile">
                       
                          <i class="material-icons" style="margin-top: 8px !important;">
                            attach_file
                            </i>
                            {{selectedFile.name}}
                      
                      </div>

                     </div>
                    </div>

                  </div>
                </form> -->
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="">
                      <th>
                        Name
                      </th>
                      <th>
                          Current Location
                      </th>
                      <th>
                          Train Stations
                      </th>
                      <th>
                          Selected Points
                      </th>
                     
                      <th>
                        Action
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let train of alTrains | filter : searchText" >
                        <td>
                          {{train.name}}
                        </td>
                        <td>
                            <mat-chip-list aria-label="Fish selection" *ngIf="train.current_location != undefined && train.current_location.coordinates.length != 0">
                            <mat-chip>Longitude: {{train.current_location.coordinates[0]}}</mat-chip> &nbsp;
                            <mat-chip>Latitude : {{train.current_location.coordinates[1]}}</mat-chip>
                            </mat-chip-list>

                            <mat-chip-list aria-label="Fish selection" *ngIf="train.current_location == undefined || train.current_location.coordinates.length == 0">
                                <mat-chip>Location not found</mat-chip> &nbsp;
                                </mat-chip-list>
                            <!-- <span matBadge="Longitude" matBadgeOverlap="false">{{train.current_location.coordinates[0]}} </span>
                            <span matBadge="Latitude" matBadgeOverlap="false">{{train.current_location.coordinates[1]}}</span> -->
                       
                        </td>
                        <td>
                            <mat-chip-list aria-label="Fish selection">
                                <mat-chip *ngFor="let station of train.train_stations">{{station.name}}</mat-chip> &nbsp;
                                </mat-chip-list>
                        
                        </td>
                        <td>
                            <i *ngIf="train.selectedPoints.length != 0" class="material-icons">
                                attach_file
                                </i>
                        </td>
                      
                        <td>
                          <div class="row justify-content-start">

                            <i class="material-icons" (click)="deleteTrain(train)">
                              delete
                            </i>

                            &nbsp;
                            <i class="material-icons"
                            matTooltip="View"
                            data-toggle="modal"
                            data-target="#myModal1"
                            (click)="changeState(train._id,true)"
                            >
                              edit
                            </i>
                            &nbsp;
                            <i class="material-icons">
                              desktop_windows
                            </i>

                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>

<div
  class="modal fade"
  id="myModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body modal-body">
          <div class="example-container">
            <form [formGroup]="trains">
                <!-- <mat-form-field>
                    <mat-label>Location</mat-label>
                    <mat-select formControlName="location">
                      <mat-option>None</mat-option>
                      <mat-option *ngFor="let location of locations" [value]="location._id">{{location.name}}</mat-option>
                    </mat-select>
                  </mat-form-field> -->
                  <mat-form-field>
                      <mat-label>Stations</mat-label>
                      <mat-select formControlName="stations" multiple>
                        <mat-option *ngFor="let station of stations" [value]="station._id" >{{station.name}}</mat-option>
                      </mat-select>
                    </mat-form-field>
                  <div
                  class="error-msg"
                  *ngIf="
                    !trains.controls['stations'].valid &&
                    trains.controls['stations'].touched
                  "
                >
                  <small>Stations <area shape="circle" coords="" href="" alt=""> <strong>required</strong> </small>
                </div>
              <mat-form-field>
                <input matInput placeholder="Location Name"  formControlName="name">
              </mat-form-field>
            <span>
                <div
                class="error-msg"
                *ngIf="
                  !trains.controls['name'].valid &&
                  trains.controls['name'].touched
                "
              >
                <small>Train Name is <strong>required</strong> </small>
              </div>
            </span>
              

            </form>
            </div>
         
              <button *ngIf="!isUpdate"
                mat-raised-button
                type="submit"
                class="btn btn-primary pull-right"
                [disabled]="!trains.valid"
                (click)="createTrain()"
              >
                Save
              </button>
              <button *ngIf="isUpdate"
                mat-raised-button
                type="submit"
                class="btn btn-primary pull-right"
                [disabled]="!trains.valid"
                (click)="updateTrain()"
              >
                Update
              </button>
          </div>
    </div>
  </div>
</div>