<div class="main-content">
  <div class="col-md-12">
    <div class="card ">
      <div class="card-header card-header-info card-header-icon">
        <div class="card-icon">
          <i class="material-icons">build</i>
          <h4 class="card-title">Locations</h4>
        </div>
      </div>
      <div class="card-body ">

        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <form>
                  <div class="row">
                    <div class="col-md-6"  *ngIf="!status">
                      <mat-form-field class="example-full-width">
                          <input  matInput 
              type="text"
              [(ngModel)]="autocompleteInput" placeholder="{{searchStatus}}"
              #addresstext 
              (setAddress)="getAddress($event)"
              [ngModelOptions]="{standalone: true}"
              >
                      </mat-form-field>
                    </div>
                    <div class="col-md-6"  *ngIf="status">
                      <mat-form-field class="example-full-width">
                          <input  matInput 
              type="text"
              [(ngModel)]="searchText" placeholder="{{searchStatus}}"
              [ngModelOptions]="{standalone: true}"
              #addresstext 
              (setAddress)="getAddress($event)"
              >
                      </mat-form-field>
                    </div>
<div class="col-md-6" *ngIf="!status">
    <button mat-mini-fab aria-label="Example icon-button with a heart icon">
        <mat-icon (click)="createLocation()">add</mat-icon>
      </button>
     
</div>
<div class="container">
  <div class="row">
    <mat-slide-toggle (change)="toggle($event)">Change action to search or create location</mat-slide-toggle>
  </div>
</div>
                  </div>
                </form>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-hover">
                    <thead class="">
                   
                      <th>
                        Location Name
                      </th>
                      <th>
                        Latitude
                      </th>
                      <th>
                        Longitude
                      </th>
                     
                      <th>
                        Action
                      </th>
                    </thead>
                    <tbody>
                      <tr *ngFor="let location of allLocations | filter : searchText" >
               
                        <td>
                          {{location.name}}
                        </td>
                        <td>
                          {{location.location.coordinates[1]}} 
                        </td>
                        <td>
                          {{location.location.coordinates[0]}} 
                        </td>
                  
                        <td>
                          <div class="row justify-content-start">

                            <i class="material-icons" (click)="deleteLocation(location)">
                              delete
                            </i>

                            &nbsp;
                            <!-- matTooltip="View"
                            data-toggle="modal"
                            data-target="#myModal1" -->
                              <i class="material-icons"
                              matTooltip="View"
                            data-toggle="modal"
                            data-target="#myModal1">
                                edit
                              </i>
                            
                            &nbsp;
                            <i class="material-icons">
                              desktop_windows
                            </i>

                          </div>
                        </td>
                      </tr>

                    </tbody>
                  </table>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>


<div
  class="modal fade"
  id="myModal1"
  tabindex="-1"
  role="dialog"
  aria-labelledby="myModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="card-body modal-body">
          <div class="example-container">
              
            </div>
         
              <button
                mat-raised-button
                type="submit"
                class="btn btn-primary pull-right"
              >
                Save
              </button>
          </div>
    </div>
  </div>
</div>
<!-- end of view toggle window -->
<!-- <button
                  class="pause-btn"
                  mat-icon-button
                  matTooltip="View"
                  style="    color: rgb(26, 38, 42) !important;"
                  data-toggle="modal"
                  data-target="#myModal1"
                >
                  <mat-icon aria-label="Example icon-button text-warning"
                    >visibility</mat-icon
                  >
                </button> -->